body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: #636363;
    width: 100%;
    
}
.header1{
    display: block;
    height: 200px;
    background-image: url(static/imagens/bg.jpg);
    padding: 4.5em 1.5em;
    background-position: center;
    
}

img{
    max-width: 100%;
}

.header1 h1{
    text-align: center;
    font-size: 21px;
    color: #ffffff80;
}
.header1 strong{
    color: #ffffff;
}
.imagem_avatar{
    text-align: center;
}
.img-avatar img{
    
    border-radius: 100%;
}
.header1 h1 a{
    color: #ffffff80;
    text-decoration: none;
    
}
.header1 h1 a:hover{
    border-bottom-color: transparent;
    color: #49bf9d !important;
    text-decoration: none; 
}
.main{
    padding: 36px 24px 4px;
}
.section1 h2{
    margin: 0px 0px 21px;
    color: #787878;
    font-size: 21px;
}
.section1 p{
    margin: 0px 0px 32px;
    color: #A2A2A2;
}
.button{
    display: block;
    height: 44px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #787878;
    align-content: center;
    padding: 0px 24px;
}
.section2{
    margin-top: 36px;
    border-top: 2px;
    padding-top: 36px;
}
.container{
    display: grid;
    margin: 0px 0px 32px;
}
.section2 h2{
    font-size: 19px;
    margin: 0px 0px 19.2px;
}
.image2{
    display: block;
    border-radius: 0.35em;
}
.section2 h3{
    font-size: 16px;
    color: #787878;
    margin: 0px 0px 8px;
}
.section2 p{
    font-size: 12.8px;
    color: #A2A2A2;
    margin: 0px 0px;
}


.section3{
    display: grid;
    margin-top: 36px;
    border-top: 2px;
    padding-top: 36px;
}
.section3 h2{
    font-size: 19px;
    margin: 0px 0px 19.2px;
    color: #787878;
}
.section3 p{
    font-size: 16px;
    margin: 0px 0px 32px;
    color: #A2A2A2;
}
.section3 input{
    box-sizing: border-box;
    color: #A2A2A2;
    background-color: #F7F7F7;
    display: block;
    width: 100%;
    text-decoration: none;
    border: solid 3px #efefef;
    padding: 12px;
}
.section3 input:focus{
    border-color: #49bf9d;
    outline: 0px;
}
.section3 textarea{
    box-sizing: border-box;
    display: block;
    background-color: #F7F7F7;
    width: 100%;
    padding: 12px;
    border: solid 3px #efefef;
}
.section3 textarea:focus{
    border-color: #49bf9d;
    outline: 0px;
}
.section3 ul li{
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #A2A2A2;
    margin: 24px 0px 0px;
}
footer{
    font-size: 30px;
    display: grid;
    background-image: url(static/imagens/bg.jpg);
    background-position: center;
    padding: 36px 24px;
}
footer ul li{
    display: inline-block;
    text-decoration: none;
    box-sizing: inherit;
    color: #ffffff80;
}
.icons{
    font-size: 1.5em;
    padding: 0px ;
    margin: 0px;
    text-align: center;
}
.fab{
    padding: 0px 16px 0px 0px
}
.copyright{
    font-size: 12px;
    padding: 0;
    text-align: center;
    
}
.copyright a{
    list-style: none;
    color: #ffffff80;
}
@media screen and (min-width:480px){
    .button{
        display: inline-block;
    }

    .container-images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .section3 form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .section3 textarea{
        grid-column: span 2 ;
    }

    .section3 input[type="submit"]{
        display: inline-block;
        width: min-content;
    }

    .copyright li{
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid;
    }

    .copyright li:last-of-type{
        border: none;
    }
}
@media screen and (min-width:736px){
    .header1{
        width: 100%;
        height: 271px;
    }
    .section3-stilo2{
        display: grid;
        grid-template-columns: 65% 35% ;
    }
}
@media screen and (min-width:981px){
    .header1{
        box-sizing: border-box;
        position: fixed;
        width: 35%;
        height: 100%;
        text-align: right;
        color: #332c2c;
    }
    .header1 h1{
        text-align: right;
        color: #858181;
        font-size: 20px;
        float: right;
    }
    .header1 h1 strong{
        color: #858181;
    }
    .header1 h1 a{
        color: #858181;
    }
    .main{
        box-sizing: border-box;
        margin-left: 35%;
        width: 65%;
    }
    footer{
        box-sizing: border-box;
        width: 35%;
        background-image: none;
        position: absolute;
        text-align: right;
        padding: 0px 0px;
        justify-content: flex-end;
        font-size: 20px;
    }
    .copyright li{
        font-size: 20px;
        display: block;
        text-align: right;
    }
    .imagem_avatar{
        text-align: right;
    }
}

