body{
    background-color: #40404a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    ;
}
.titulo{
    color: #d0e9a5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    ;
}
.texto{
    color: #c5d5cb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fonte{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    color: #d0e9a5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}